<!-- <mat-progress-bar mode="determinate" [value]="posterProgress" *ngIf="posterInProgress"></mat-progress-bar> -->
<!-- <div fxLayout="row" fxLayoutAlign="center center" fxFill> -->
<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
  <h1 mat-dialog-title>Editing {{ article.title }}</h1>
  <app-file-uploader (droppedFile)="droppedImage($event)" fxFill></app-file-uploader>
  <img [src]="article.poster?.location" alt="" loading="lazy" />

  <form mat-dialog-content (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column" fxFill>
    <button type="submit" hidden #submit></button>
    <mat-form-field>
      <input matInput placeholder="title" [formControl]="form.controls.title" />
      <mat-error *ngIf="form.controls.title.getError('required')"> Title is <strong>required</strong> </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="description" [formControl]="form.controls.description" />
    </mat-form-field>
    <app-chips-autocompleat-input [(selectedOptions)]="articleTags" [allOptions]="allTags"></app-chips-autocompleat-input>
  </form>
  <ckeditor [editor]="editor" [formControl]="form.controls.body" fxFlex="10 10 100" fxFill></ckeditor>

  <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="submit.click()">Submit</button>
</div>
<!-- </div> -->

<!-- <app-file-uploader (droppedFile)="droppedImage($event)"></app-file-uploader> -->

<!-- <mat-form-field>
        <mat-chip-list #tagList>
          <mat-chip
            *ngFor="let tag of selectedTags"
            [selectable]="true"
            [removable]="true"
            (removed)="removeTag(tag)"
            >{{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #tagsInput
            placeholder="Tags"
            [formControl]="form.controls.tagList"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)"
            [matAutocomplete]="auto"
          />
        </mat-chip-list>
        <mat-autocomplete
          (optionSelected)="addSelected($event)"
          #auto="matAutocomplete"
        >
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">{{
            tag.title
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
<!-- <ckeditor
    [editor]="editor"
    [(ngModel)]="editorBody"
    (change)="onBodyChange($event)"
  ></ckeditor> -->
