<article fxLayout="column" fxLayoutAlign="center center">
  <h1 ngClass.xs="mat-heading-1" ngClass.gt-sm="mat-display-1" ngClass.gt-md="mat-display-2" fxFlexAlign="center">
    {{ article.title }}
  </h1>
  <h3 class="mat-subheading-1">
    By <a target="blank" href="https://twitter.com/ksuhiyb">Suhayb Hasan</a> at
    <time>{{ article.createdAt | date: "mediumDate" }}</time>
  </h3>
  <hr />
  <img [src]="article.poster?.location || defaultArticleImg" [alt]="article.title" style="margin-bottom: 1rem;" />
  <mat-chip-list>
    <mat-chip *ngFor="let tag of article.tags">{{ tag.title }}</mat-chip>
  </mat-chip-list>
  <h1></h1>
  <p style="text-align: justify;" [innerHtml]="article.body | sanitizeHtml"></p>
</article>
